<div class="col-xs-12">
    <div class="form-group">
        <label for="">Nome Completo*</label>
        <input type="text" class="form-control" placeholder="João Fonseca">
    </div>
    <div class="form-group menor">
        <label for="">Apelido *</label>
        <input type="text" class="form-control" placeholder="Apelido">
    </div>
    <div class="form-group menor">
        <label for="">CPF *</label>
        <input type="text" class="form-control" placeholder="123.456.789-9">
    </div>
    <div class="form-group menor">
        <label for="">Sexo *</label>
        <select name="" id="" class="form-control">
            <option value="">Feminino</option>
            <option value="">Masculino</option>
        </select>
    </div>
    <div class="form-group menor">
        <label for="">Data Nascimento *</label>
        <input type="text" class="form-control" placeholder="09/08/1992">
    </div>
    <div class="form-group menor">
        <label for="">Telefone *</label>
        <input type="text" class="form-control" placeholder="(11)5521-2222">
    </div>
    <div class="form-group menor">
        <label for="">Celular (opcional)</label>
        <input type="text" class="form-control" placeholder="(11)91234-1234">
    </div>
    <div class="form-group email-promocional">
        <label for="">E-mails promocionais</label>
        <input type="checkbox">
    </div>
    <div class="container-salvar">
        <a type="button" class="btn-salvar">Salvar</a>
    </div>
</div>