
/*HEADER*/
header{
    padding: 15px 20px;
}
/*logo*/
header h1.logo a{
    font-size: 3rem;
    letter-spacing: .5rem;
    color: #355474;
    font-weight: 300;
    border: 1px solid;
    padding: 0px 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*pesquisa*/
header div.input-pesquisa{
    width: 90%;
    margin-top: 10px;
    position: relative;

}
header .input-pesquisa input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #355474;
    color: #355474;
}
header .input-pesquisa i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #355474;
    cursor: pointer;
}
header .input-pesquisa input:focus{
    border-color: #d1d147;
}
/*placeholder*/
::-webkit-input-placeholder {
   color: #355474;
}

:-moz-placeholder { /* Firefox 18- */
   color: #355474;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #355474;  
}

:-ms-input-placeholder {  
   color: #355474;  
}
/*conta e carrinho*/
header .conta-carrinho{
    text-align: center;
    padding-top: 30px;
}
header .conta-carrinho i:first-of-type{
    margin-right: 20px;
}
header .conta-carrinho h2{
    margin-right: 30px;
    font-size: .9rem;
    letter-spacing: .1rem;
}
header .conta-carrinho h2 a{
    text-decoration: underline;
}
header .conta-carrinho i.fa-shopping-cart::after{
    content: "0";
    margin-left: 10px;
    font-size: 1.4rem;
}
header .conta-carrinho i{
    cursor: pointer;
}
header .conta-carrinho h2, header .conta-carrinho h2 a, header .conta-carrinho i{
    color: #355474;
}
header .conta-carrinho h2 a:hover{
    color: #d1d147;
}
.conta-carrinho h2, .conta-carrinho i{
    display: inline-block;
}
.conta-carrinho h2{
    margin-right: 15px;
}



/*MENU*/
nav.menu-principal {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: .13rem;
    margin: 15px 0 0 0;
}
nav.menu-principal ul li{
    display: inline-block;
}
nav.menu-principal ul li a{
    padding: 5px 16px;
    color: #355474;
}
nav.menu-principal ul li a:hover {
    transition-duration: .2s; 
    border-bottom: 2px solid #355474;
}

.separador{
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: -4px auto 20px;
}


/* menu toggle */

#menu_toggle{
    position: absolute;
    left: 20px;
    top: 36px;
    cursor: pointer;
    float: left;
    width: 23px;
    height: 20px;
}

#menu_toggle button{
    position: absolute;
    left: 0;
    top: 50%;
    background: #355474;
    height: 2px;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    outline: none !important;
}

#menu_toggle button:before{
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    width: 23px;
    height: 2px;
    background: #355474;
    -webkit-transform-origin: 1.5px center;
    -moz-transform-origin: 1.5px center;
    -o-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu_toggle button:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 23px;
    height: 2px;
    background: #355474;
    -webkit-transform-origin: 1.5px center;
    -moz-transform-origin: 1.5px center;
    -o-transform-origin: 1.5px center;
    transform-origin: 1.5px center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#menu_toggle.open button{
    background: transparent;
}

#menu_toggle.open button:before{
    top: 0;
    -webkit-transform: rotate3d(0,0,1,-45deg);
    -moz-transform: rotate3d(0,0,1,-45deg);
    -o-transform: rotate3d(0,0,1,-45deg);
    transform: rotate3d(0,0,1,-45deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#menu_toggle.open button:after{
    bottom: 0;
    -webkit-transform: rotate3d(0,0,1,45deg);
    -moz-transform: rotate3d(0,0,1,45deg);
    -o-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/*menu mobile */
.menu-mobile{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.menu-mobile ul{
    display: table-cell;
    padding: 0;
    list-style: none;
}

.menu_ativo{
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

}
.menu-mobile ul li{
    border-radius: 1px;
}
.menu-mobile ul li:hover{
    background: #355474;
    transition-duration: .3s;
}
.menu-mobile ul li a{
    font-size: 0.85rem;
    border: none;
    padding: 20px;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    color: #355474;
    line-height: 1.4rem;
    letter-spacing: .1rem;
}
.menu-mobile ul li a:hover{
    text-decoration: none;
    color: #fff;
    transition-duration: .3s;
}

.menu-mobile ul li a.link_ativo{
    background: #fff;
    color: #000 !important;
    border-radius: 2px;
}
.menu-mobile .menu-close{
    font-size: 25px;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 10px);
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: #355474;
    i{
        color: #fff;
    }
}



/*GALERIA*/

article.col-3.produto{
    position: relative;
    padding: 20px 50px;
    margin-bottom: 30px;
}

article.produto article img{
    width: 100%;
}
article.produto article:hover{
    transition-duration: .2s;
    cursor: pointer;
    border: 1px solid #355474;
}

/*footer - informações do produto*/
article.produto article footer{
    padding: 10px 0 0 0;
    text-align: center;
}

/*h2 - nome do produto*/
article.produto article footer h2{
    color: #355474;
    font-size: 1rem;
    padding: 0 5px;
}

/*h3 - valor do produto*/
article.produto article footer h3{
    font-weight: 700;
    color: #901913;
    display: inline-block;
    font-size: .9125rem;
    margin-bottom: 15px;
}

/*h3.preco-antigo - valor antes da promocao*/
article.produto article footer h3.preco-antigo{
    color: #5d5d5d;
    text-decoration: line-through;
    font-size: .8125rem;
    margin-right: 5px;
}
/*h2::after - linha abaixo do nome*/
article.produto article footer h2::after{
    content: '';
    width: 90px;
    height: 1px;
    background: #a2a2a2;
    margin: 10px auto;
    display: block;
}
/*btn - todos os botoes da pagina pegarao esse css*/
.btn {
    display: block;
    padding: 10px 10px;
    transition: all .3s linear;
    border: 0;
    font-weight: lighter;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: all .2s linear;
    background: #355474;
    color: #fff;
}
.btn:hover{
    background: #d1d147;
    color: #5d5d5d;
}
/*botao dentro de adicionar ao carrinho*/
article.produto article footer button{
    width: 100%;
}
div.balet-oferta {
    position: absolute;
    top: 0;
    right: 20px;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    border: 5px dashed #fff;
}
div.balet-oferta p{
    color: #fff;
}
div.balet-oferta p:first-of-type{
    font-weight: 500;
    font-size: 20px;
}
div.balet-oferta p:last-of-type{
    text-decoration: line-through;
    font-size: 13px;
    text-transform: uppercase;
}



/*MEDIA QUERY*/

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    .hidden-ld{
        display: none !important;
    }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
    /* vitrine */
    article.col-3.produto{
        width: 33.333333333%;
    }

    /* outras classes */
    .hidden-d{
        display: none !important;
    }
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    /*logo*/
    header h1.logo a{
        font-size: 2.4rem;
    }
    /* pesquisa */
    header .box-pesquisa{
        width: 50%
    }
    header div.input-pesquisa{
        margin: 0 0 0 20px;
    }
    
    /* conta e carrinho */
    header .conta-carrinho {
        width: 25%;
        text-align: right;
        padding-top: 15px;
    }
    /* vitrine */
    article.col-3.produto{
        width: 50%;
    }

    /* outras classes */
    .hidden-t{
        display: none !important;
    }
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    /*logo*/
    header .box-logo{
        width: 50%;
        text-align: left;
    }
    header h1.logo a{
        font-size: 2.4rem;
    }
    
    header div.input-pesquisa{
        width: 100%
    }
    header div.input-pesquisa input{
        height: 50px;
    }
    header .input-pesquisa i{
        top: 13px;
        right: 10px;
        font-size: 1.5rem;
    }
    /* carrinho */
    header .conta-carrinho{
        width: 41.6666666667%;
        text-align: right;
        padding-top: 12px;
    }
    header .conta-carrinho i:first-of-type {
        margin-right: 10px;
    }

    /* vitrine */
    article.col-3.produto{
        width: 100%;
    }

    /* outras classes */
    .hidden-m{
        display: none !important;
    }

    #menu_toggle{
        left: 40px;
    }
}

@media (max-width: 500px) {
    #menu_toggle{
        left: 30px;
    }
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 400px) {
    header{
        h1.logo a{
            font-size: 2.2rem;
            padding: 0px 5px;
            margin-left: 5px;
        }
        .conta-carrinho{
            padding-top: 20px;

            i{
                font-size: 1.6rem;
            }
        }
        
    }
    #menu_toggle{
        left: 20px;
    }
}