<div class="container">
  <div class="row">
    <h2 class="text-center">Meu Carrinho</h2>
    <!-- <div class="col-xs-6 col-sm-4 col-md-3"> -->
      <div class="col-sm-12">
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Adicionar mais ao carrinho</button>
      </div>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-default left">comprar</button>
      </div>
     </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
         <table class="table table table-bordered">
            <thead tourAnchor="another">
              <tr>
                <th class="small text-muted">Produto(s)</th>
                <th class="small text-muted">quantidade</th>
                <th class="small text-muted">Entrega</th>
                <th class="small text-muted">Valor Unitário</th>
                <th class="small text-muted">Valor total</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td class="small">Camiseta Homem Aranha</td>
                <td class="small">1</td>
                <td class="small"></td>
                <td class="small">R$: 75,00</td>
                <td class="small">R$: 75,00</td>
              </tr>
              <tr >
                <td class="small">Camiseta Homem de Ferro</td>
                <td class="small">1</td>
                <td class="small"></td>
                <td class="small">R$: 75,00</td>
                <td class="small">R$: 75,00</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-4 cep">
          <p class="text-center">Simular o calculo de frete</p>
        <div class="col-sm-12 ">
          <input type="text" class="form-control input-sm" placeholder="CEP">
        </div>
          <p class="text-center">Valor:</p>
      </div>
        <div class="col-sm-8">
         <table class="table table table-bordered">
            <thead tourAnchor="another">
              <tr>
                <th class="small text-muted">Produto(s)</th>
                <th class="small text-muted">frete</th>
                <th class="small text-muted">Valor total</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td class="small">Camiseta Homem Aranha</td>
                <td class="small"></td>
                <td class="small"></td>
              </tr>
              <tr >
                <td class="small">Camiseta Homem de Ferro</td>
                <td class="small"></td>
                <td class="small">R$: 150,00</td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>
    </div>
  <div class="btn-group" role="group">
          <button type="button" class="btn btn-default">Adicionar mais ao carrinho</button>
      </div>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-default left">comprar</button>
      </div>

