ul{
    padding: 10px 0 0 0;
    .cliente{
        clear: both;
        padding: 15px 10px;
        .circulo{
            text-align: center;
            font-size: 1.5rem;
            background: #355474;
            border-radius: 50%;
            position: relative;
            padding: 8px 10px;
            float: left;
            i{
                margin: auto auto;
                color: #fff;
            }
        }
        .texto{
            display: inline-block;
            padding: 0 10px;
            p{
                margin: 5px 0 5px 0;
                font-size: .9rem;
                color: #355474;
                font-weight: 700;
                text-transform: uppercase;
            }
            a{
                font-size: .8rem;
                text-decoration: underline;
                color: #a5a536;
                font-weight: 400;
                &:hover{
                    color: #355474;
                    transition-duration: .3s;
                }
            }
        }
    }
    
    li{
        border-bottom: 1px solid #ccc;
        padding-left: 10px;
        a{
            color: #355474;
            font-size: .9rem;
            font-weight: 300;
            display: block;
            padding: 20px 0;
            &:hover{
                border-right: 4px solid #355474;
                transition-duration: .3s;
            }
        }
        a.ativo{
            border-right: 4px solid #355474;
        }
        &:first-of-type{
            border-top: 1px solid #ccc;
        }
    }
}

.container-cliente{
    min-height: 412px;
    .header{
        padding: 20px 10px;
        font-size: 1.5rem;
        h3{
            color: #355474;
            font-weight: 300;
        }
    }
}