<div class="container">
  <div class="col-sm-3 col-md-3">
    <ul class="card">
      <div class="cliente">
        <div class="circulo">
          <i class="ion-person"></i>
        </div>
        <div class="texto">
          <p>Everton</p>
          <a href="#!">Sair</a>
        </div>
      </div>
      <li class="ativo">
        <a href="#!" (click) = "setTitulo('Minha Conta')">Minha Conta</a>
      </li>
      <li>
        <a href="#!" (click) = "setTitulo('Meus Pedidos')">Meus Pedidos</a>
      </li>
      <li>
        <a href="#!" (click) = "setTitulo('Meus Dados')">Meus Dados</a>
      </li>
      <li>
        <a href="#!" (click) = "setTitulo('Meu Acesso')">Meu Acesso</a>
      </li>
      <li>
        <a href="#!" (click) = "setTitulo('Meu Endereço')">Meu Endereço</a>
      </li>
      <li>
        <a href="#!" (click) = "setTitulo('Atendimento')">Atendimento</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9 col-md-9">
    <div class="card container-cliente">
      <div class="header">
        <h3>{{ titulo }}</h3>
      </div>
      <div>
        <app-my-account></app-my-account>
      </div>
    </div>
  </div>
</div>