<ul >
  <li class="pedido" *ngFor="let pedido of resultPedidosCliente, let i = index " style="margin-bottom: 10px;" > <!-- ped of resultVendaCliente -->
    <table >
      <thead>
        <tr>
          <th>Número do Pedido</th>
          <th>Realizado em</th>
          <th>Status</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{pedido.venda.sale_id }}</td>
          <td> {{ pedido.venda.date | date:'dd-MM-yyyy HH:mm' }} </td>
          <td> {{ pedido.venda.name }} </td>
          <td> {{ resultVendaCliente[i].total_partial  | currency:'BRL':true  }} </td>
        </tr>
      </tbody>
    </table>
    <div class="container-ver-detalhes">
      <a (click)="openModal(template, pedido.venda.sale_id)" style="cursor:pointer" class="detalhes">Ver Detalhes</a>
    </div>

    <template class="modal-dialog" #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Produtos que foram comprados</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <app-cart></app-cart> -->
        <div class="row">
          <div class="">

            <!-- tablete e desktop -->
            <table class="table table-produtos-carrinho hidden-xs">
              <thead class="table-header">
                <tr>
                  <th class="small text-muted">Produto(s)</th>
                  <th class="small text-muted">Valor</th>
                  <th class="small text-muted">Quantidade</th>
                  <th class="small text-muted">Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of vendaAPI, let i = index" >
                  <td class="small">
                    <div class="miniatura">
                      <a><img [src]="p.img" alt="Imagem Indisponivel"></a>
                    </div>
                    <a class="descricao-produto">
                      <h3>{{p.nome}}</h3>
                    </a>
                  </td>
                  <td class="small">{{ p.unit_price | currency:'BRL':true }}</td>
                  <td class="small">{{ p.quantity }}</td>
                  <!-- <td class="small">{{ p.product_purchase_price * p.quantidade | currency:'BRL':true }}</td> -->
                  <td class="small">{{ p.subtotal | currency:'BRL':true }}</td>

                </tr>
              </tbody>
            </table>
            <!-- tablete e desktop -->

            <!-- mobile -->
            <div class="row container-produto-mobile visible-xs" *ngFor="let pm of vendaAPI, let i = index">
              <div class="col-xs-5">
                <div class="imagem-produto">
                  <a><img [src]="pm.img" alt="Imagem indisponível"></a>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="descricao-produto">
                  <a href="#!" class="descricao-produto">
                    <h3>{{pm.nome}}</h3>
                  </a>
                  <p>Preço unitário: {{ pm.unit_price | currency:'BRL':true }}</p>
                </div>
                <div class="quantidade-produto">
                  <div class="">
                  <p>Quantidade: {{ pm.quantity }}</p>
                  </div>
                </div>
                <div class="valor-total-produto">
                  <p>Total dos produtos: {{ pm.subtotal | currency:'BRL':true }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="detalhes-compra card">
          <div class="detalhes-endereco">
            <p>Endereço de entrega</p>
            <p>{{localentrega.nome}}</p>
            <p>{{localentrega.rua}}</p>
            <p>{{localentrega.local}}</p>
            <p>{{localentrega.estado}}</p>
            <p>CEP {{localentrega.cep}}</p>
          </div>
        </div>
      </div>
    </template>
  </li>
