<ul [hidden]="!compraEfetuada">
  <li class="pedido" *ngIf="resultvenda">
    <table> <!-- *ngFor="let venda of resultvenda['SalesItens'], let i = index" -->
      <thead>
        <tr>
          <th>Número do Pedido</th>
          <th>Realizado em</th>
          <th>Status</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>15456</td>
          <td>{{ resultvenda.SalesItens[0].date | date:'dd-MM-yyyy HH:mm' }}</td>
          <td>{{ resultvenda.SalesItens[0].comment }}</td>
          <!-- <td>Produto a ser enviado</td> -->
          <td>{{ resultvenda.totalPartial | currency:'BRL':true }}</td>
        </tr>
      </tbody>
    </table>
    <div class="container-ver-detalhes">
      <a (click)="openModal(template)" class="detalhes">Ver Detalhes</a>
    </div>

    <template class="modal-dialog" #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Produtos que foram comprados</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <app-cart></app-cart> -->
        <div class="row">
          <div class="col-sm-12">

            <!-- tablete e desktop -->
            <table class="table table-produtos-carrinho hidden-xs">
              <thead class="table-header">
                <tr>
                  <th class="small text-muted">Produto(s)</th>
                  <th class="small text-muted">Valor</th>
                  <th class="small text-muted">Quantidade</th>
                  <th class="small text-muted">Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of resultvenda['SalesItens'], let i = index">
                  <td class="small">
                    <div class="miniatura">
                      <a><img [src]="p.product_img_relative_url" alt="Imagem Indisponivel"></a>
                    </div>
                    <a class="descricao-produto">
                      <h3>{{p.product_name}}</h3>
                      <p>Tamanho: M</p>
                      <p>Cor: vermelho</p>
                    </a>
                  </td>
                  <td class="small">{{ p.subtotal / p.quantity | currency:'BRL':true }}</td>
                  <td class="small">{{ p.quantity }}</td>
                  <!-- <td class="small">{{ p.product_purchase_price * p.quantidade | currency:'BRL':true }}</td> -->
                  <td class="small">{{ p.subtotal | currency:'BRL':true }}</td>

                </tr>
              </tbody>
            </table>
            <!-- tablete e desktop -->

            <!-- mobile -->
            <div class="row container-produto-mobile visible-xs" *ngFor="let pm of produtosNoCarrinho, let i = index">
              <div class="col-xs-5">
                <div class="imagem-produto">
                  <a href="#!"><img [src]="pm.product_img_relative_url" alt="Imagem indisponível"></a>

                </div>
              </div>
              <div class="col-xs-7">
                <div class="descricao-produto">
                  <a href="#!" class="descricao-produto">
                    <h3>{{pm.product_name}}</h3>
                    <p>Tamanho: M</p>
                    <p>Cor: vermelho</p>
                  </a>
                  <p>{{pm.product_purchase_price | currency:'BRL':true }}</p>
                </div>
                <div class="quantidade-produto">
                  <div class="box-input-quantidade">
                    <input type="text" id="quantidade" value="pm.quantidade">
                  </div>
                </div>
                <div class="valor-total-produto">
                  <p>{{pm.product_purchase_price * pm.quantidade | currency:'BRL':true }}</p>
                </div>
              </div>
            </div>
            <!-- mobile -->
          </div>
        </div>


        <div class="detalhes-compra card">
          <div class="detalhes-produtos pull-left">
            <div class="produtos">
              <p>Produtos</p>
              <p>{{precoTotal.length}} Produtos</p>
              <p>{{valorTotal | currency:'BRL':true }}</p>
              <p>Frete</p>
              <p>R$ {{ frete }}</p>
            </div>
            <div class="total">
              <p>Total à pagar</p>
              <p>{{ resultvenda.totalPartial | currency:'BRL':true }}</p>
            </div>
          </div>
          <div class="detalhes-endereco">
            <p>Endereço de entrega</p>
            <p>Everton Roberto de Oliveira</p>
            <p>Rua Hélio Jacy Gouveia Schiefler, 42, Casa 4</p>
            <p>Jardim Souza</p>
            <p>São Paulo - SP</p>
            <p>CEP 04918-110</p>
          </div>
        </div>
      </div>
    </template>
  </li>
  