li.pedido{
    margin-bottom: 20px;
    padding: 0px 0px 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(0, 0, 0, 0.15);

    table{
        width: 100%;
        background: #d1d147;
        color: #355474;
        tr{
            th,td{
                text-align: center;
                vertical-align: middle;
                text-transform: uppercase;
            }
            th{
                font-size: .8rem;
                font-weight: 300;
                padding: 10px 5px;
            }
            td{
                font-size: 1.2rem;
                line-height: 1.7rem;
                padding: 10px 5px 25px;
                font-weight: 800;
            }
        }
    }
    &:hover{
        text-decoration: none;
    }
    div{
        padding: 10px;
    }
}
.container-ver-detalhes{
    width: 100%;
    a.detalhes{
        display: inline-block;
        font-size: .8rem;
        background: #5d5d5d;
        line-height: 1.125rem;
        color: #fff;
        letter-spacing: 1.3px;
        transition: all .3s linear;
        border-radius: 1px;
        padding: 6px 10px;
        text-transform: uppercase;
        &:hover{
            background: #d1d147;
            color: #355474;
            transition-duration: .3s;
        }
    }
}
@media screen and(max-width: 677px){
    table{
        thead{
            display: inline-block;
            tr{
                th{
                    font-size: .8rem !important;
                    padding: 10px 5px !important;
                    display: block !important;
                    text-align: right !important;
                }
            }
        }
        tbody{
            display: inline-block;
            tr{
                td{
                    font-size: .9rem !important;
                    line-height: 1rem !important;
                    padding: 8px 5px !important;
                    display: block !important;
                    text-align: left !important;
                    margin-left: 10px;
                }
            }
        }
    }
}

@media screen and(max-width: 400px){
    table{
        thead{
            display: none;
        }
        tbody{
            display: block;
            tr{
                width: 100%;
                display: block;
                td{
                    text-align: center !important;
                    margin-left: 0;
                }
            }
        }
    }
    .container-ver-detalhes{
        text-align: center;
    }
}