article{
    padding: 10px;
    img{

    }

    header, footer{
        text-align: center;
        margin-bottom: 40px;
        
        .valor-produto{
            text-align: center;
            margin: 20px 0;
            .valor{
                margin-bottom: 10px;
                span.valor-antigo{
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    text-decoration: line-through;
                    color: #a2a2a2;
                    font-weight: 300;
                    margin-right: 5px;
                }
                span.valor-atual{
                    font-size: 1.5rem;
                    line-height: 20px;
                    line-height: 1.25rem;
                    color: #901913;
                    font-weight: 700;
                }
            }
            .parcelas{
                line-height: 1.3rem;
                color: #5d5d5d;
                font-size: .1.2rem;
            }
        }
    }

    footer{
        text-align: center;
        .cores, .tamanhos{
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #a2a2a2;
            font-weight: 300;
            margin-right: 5px;

            input{
                display: none;
            }
        }
        .cores{
            margin-bottom: 20px;
        }

        .box-btn{
            padding: 10px 15px;
            .btn-adicionar-sacola{
                width: 100%;
                background: #d1d147;
                color: #fff;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                transition: all .3s linear;
                display: table;
                font-size: 18px;
                font-size: 1.125rem;
                line-height: 1.125rem;
                padding: 20px 30px;
                text-align: center;
                margin: 20px auto;
                border-radius: 1px;
                &:hover{
                    background: #5d5d5d;
                }
            }
        }
    }
}
.nome-produto{
    h2{
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: .12rem;
        color: #5d5d5d;
        text-align: center;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

  h2.titulo-produto{
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif !important;
    letter-spacing: 1px;
    color: #5d5d5d;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    &:after{
        content: '';
        width: 100%;
        height: 1px;
        background: #ccc;
        margin: 15px auto;
        display: block;
    }
}

// descrição e especificação
.box-descricao-especificacao{
    tabset{

            text-transform: uppercase;
            font-size: .6875rem;
            line-height: 1rem;
            color: #a2a2a2;
            font-weight: 500;
            margin-right: 5px;

        tab{
            p{
                padding: 15px;
                font-size: 0.7rem;
                color: #5d5d5d;
                text-align: left;
                letter-spacing: 0.7px;
                line-height: 1.3rem;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-transform: none;
                font-weight: 400;
            }
        }
    }
}


/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
    .titulo-produto:after{
        margin-bottom: 30px !important;
    }
}

/* Small Devices, .visible-sm-* */
@media (max-width: 768px) {

    .titulo-produto:after{
        margin-bottom: 30px !important;
    }

    article.img-produto{
        padding: 0 130px;
    }
    footer{
        .valor-produto{
            margin: 20px 0 0 0 !important;
        }
        .btn-adicionar-sacola{
            margin: 5px 0 20px 0 !important;
        }
    }
}

/* Small Devices, .visible-sm-* */
@media (max-width: 700px) {

    article.img-produto{
        padding: 0 70px;
    }
}


/* Small Devices, .visible-sm-* */
@media (max-width: 668px) {
    
    article.img-produto{
        padding: 0 50px;
    }
}

/* Small Devices, .visible-sm-* */
@media (max-width: 568px) {
    
    article.img-produto{
        padding: 0;
    }
}