<div class="container">
    <div class="row">
        <div class="col-md-6">
            <article>
                <img src="../assets/images/produtos/1.jpg" alt="">
            </article>
        </div>
        <div class="col-md-6">
            <article>
                <header>
                    <div class="nome-produto">
                        <h2 id="nome_produto">Camiseta Homem-Aranha manga longa</h2>
                    </div>
                    <div class="valor-produto">
                        <div class="valor">
                            <span class="valor-antigo">R$ 69,90</span>
                            <span class="valor-atual">R$ 59,41</span>
                        </div>
                        <div class="parcelas">
                            <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,70</strong> sem juros</span>
                        </div>
                    </div>
                </header>
                <footer>
                    <div class="cores">
                        <span>Cores</span>
                        <input type="radio" name="cor">
                    </div>
                    <div class="tamanhos">
                        <span>Tamanhos</span>
                        <input type="radio" name="tamanho">                            
                    </div>
                    <div class="box-btn">
                        <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>
