<p-growl [(value)]="msgs"></p-growl>
<div class="titulo">
  <i class="ion-ios-search-strong"></i>
  <p>Assuntos mais procurados</p>
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#politica_arrependimento">
          Política de Arrependimento
        </a>
      </h4>
    </div>
    <div id="politica_arrependimento" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#politica_pagamento">
          Política de pagamento
        </a>
      </h4>
    </div>
    <div id="politica_pagamento" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#politica_privacidade">
          Política de privacidade
        </a>
      </h4>
    </div>
    <div id="politica_privacidade" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#politica_entrega">
          Política de entrega
        </a>
      </h4>
    </div>
    <div id="politica_entrega" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#termos_politica_troca">
          Termos e Política de troca
        </a>
      </h4>
    </div>
    <div id="termos_politica_troca" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<!-- Canais de atendimento -->
<div class="titulo">
  <i class="ion-chatboxes"></i>
  <p>Canais de Atendimento</p>
</div>

<div class="canais-atendimento">
  <div class="container-atendimento">
    <a href="#!">
      <i class="ion-android-call"></i>
      <p>(11) 5555 - 5555</p>
    </a>
  </div>
  <div class="container-atendimento">
    <a href="#!">
      <i class="ion-android-mail"></i>
      <p>sac@tzne.com.br</p>
    </a>
  </div>
  <div class="container-atendimento">
    <a href="#!">
      <i class="ion-android-mail"></i>
      <p>atendimento@tzne.com.br</p>
    </a>
  </div>
  <div class="container-atendimento">
    <a href="#!">
      <i class="ion-social-facebook"></i>
      <p>tzneoficial@facebook.com</p>
    </a>
  </div>
</div>

<!-- Abertura de chamado -->
<div class="titulo">
  <i class="ion-settings"></i>
  <p >Abrir chamado</p>
</div>
<div class="col-xs-12">
  <div class="form-group">
    <label for="">Nome Completo*</label>
    <input type="text" class="form-control" placeholder="João Fonseca" name="nome" [(ngModel)]="chamado.nome" >
  </div>
  <div class="form-group">
    <label for="">E-mail *</label>
    <input type="email" class="form-control" placeholder="exemplo@email.com" name="email" [(ngModel)]="chamado.email" >
  </div>
  <div class="form-group menor">
    <label for="">Telefone *</label>
    <input type="text" 
    class="form-control"
     placeholder="(11) 5521-2222" 
     name="telefone" 
     [(ngModel)]="chamado.telefone"
     kzMask="(99) 9999-9999">
  </div>
  <div class="form-group menor">
    <label for="">Assunto *</label>
    <select class="form-control" name="assunto" [(ngModel)]="chamado.assunto">
      <option value="">Selecione</option>
      <option value="elogio">Elogio</option>
      <option value="reclamacao">Reclamação</option>
      <option value="sugestao">Sugestão</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Mensagem *</label>
    <textarea name="mensagem" class="form-control" rows="3" [(ngModel)]="chamado.mensagem"></textarea>
  </div>
  <div class="container-salvar">
    <a type="button" class="btn-salvar" (click)="enviar()">Enviar</a>
  </div>
</div>