.titulo{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    i{
        font-size: 3rem;
        margin-right: 10px;
        color: #355474;
    }
    p{
        font-size: 1.3rem;
        color: #355474;
        font-weight: bolder;
        display: inline-block;
    }
}

.panel-group{
    margin-bottom: 35px;
    .panel{
        border-radius: 1px;
        .panel-heading{
            padding: 0;
            .panel-title{
                a{
                font-size: .9rem;
                color: #7b7b7b;
                font-weight: 400;
                padding: 10px 15px;
                display: block;
                }
            }
        }
        .panel-body{
            font-size: .9rem;
            letter-spacing: .02rem;
            line-height: 1.2rem;
            color: #355474;
        }
    }
}

.canais-atendimento{
    padding: 10px;
    margin-bottom: 40px;
    .container-atendimento{
        margin-bottom: 10px;
        i{
            font-size: 1.4rem;
            color: #7b7b7b;
            margin-right: 10px;
        }
        p{
            display: inline-block;
            color: #355474;
            font-size: .9rem;
        }
    }
}

// formulário de contato
.form-group{
    label{
      width: 24%;
      text-align: right;
      padding-right: 10px;
      font-weight: 400;
      font-size: .9rem;
      color: #878791;
    }
    textarea{
      max-width: 60%;
      min-width: 60%;
    }
    input, select, textarea{
      width: 60%;
      display: inline-block;
      max-width: 550px;
      color: #355474;
      border-radius: 1px;
    }
    input[type=checkbox]{
      width: auto;
    }
  }
  .container-salvar{
    width: 100%;
    text-align: center;
    a{
      display: inline-block;
      font-size: .8rem;
      background: #5d5d5d;
      line-height: 1.125rem;
      color: #fff;
      letter-spacing: 1.3px;
      transition: all .3s linear;
      border-radius: 1px;
      padding: 6px 40px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      margin-top: 10px;
      &:hover{
          background: #d1d147;
          color: #355474;
          transition-duration: .3s;
      }
    }
  }
  .form-group.menor{
    textarea{
      max-width: 40%;
      min-width: 40%;
    }
    input, select, textarea{
      width: 40%;
    }
  }
  @media screen and(min-width:1200px){
  
    .form-group{
      label{
        width: 35%;
      }
      textarea{
        max-width: 50%;
        min-width: 50%;
      }
      input, select, textarea{
        width: 50%;
      }
    }
    .form-group.menor{
      input, select{
        width: 30%;
      }
    }
  }
  @media screen and(max-width: 992px) and (min-width:768px){
    .form-group{
      label{
        width: 35%;
      }
    }
  }
  @media screen and(max-width: 767px) and (min-width: 550px){
    .form-group{
      label{
        width: 40% !important;
      }
      input:not([type=checkbox]), select{
        width: 50% !important;
      }
    }
  }
  
  @media screen and(max-width: 549px){
    .form-group{
      label{
        font-size: .8rem;
        width: 100%;
        text-align: left;
        display: block;
        margin-bottom: 5px;
      }
      input:not([type=checkbox]), select{
        width: 100% !important;
      }
    }
    .container-salvar{
      a{
        width: 100%;
        padding: 10px 20px;
      }
    }
  }