<div class="card">
  <div class="card-header">
    <h3>Calcular frete</h3>
  </div>
  <div class="card-body">
    <div class="form-group">
      <input type="text" placeholder="Digite seu cep" tooltip="Digite seu cep. Ex: 00000-00" [(ngModel)]="sCepDestino">
      <i class="ion-search" style="cursor:pointer" (click)="buscarCepAPI()"></i>
    </div>
    <table>
      <thead>
        <!-- <tr>
          <th>Retira na loja</th>
          <td>R$ 00,00</td>
        </tr> -->
        <tr>
          <th>Entrega TZNE</th>
          <td>R$ {{ resultCEP['cServico']['Valor'] }}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
