.form-group{
    position: relative;
    margin-bottom: 30px;
    input{
        color: #5d5d5d;
        font-size: .8125rem;
        padding: 10px;
        border: 1px solid #a2a2a2;
        box-sizing: border-box;
        width: 100%;
    }
    i{
        position: absolute;
        top: 7px;
        right: 15px;
        font-size: 1.5rem;
        color: #5d5d5d;
    }
}

table{
    width: 100%;
    tr{
        font-size: 1.1rem;
        color: #5d5d5d;
        line-height: 1.5rem;
    }
    td{
        //float: right;
        text-align: right;
        font-weight: 300;
        font-size: .9rem;
        color: #5d5d5d;
        padding-bottom: 10px;
        text-transform: uppercase;
        //padding-right: 75px
    }
    th{
        //padding-left: 75px
    }
}
