<carousel class="hidden-xs">
  <slide>
    <img src="assets/images/1.png" alt="Imagem 1">
  </slide>
  <slide>
    <img src="assets/images/2.png" alt="Imagem 2">
  </slide>
  <slide>
    <img src="assets/images/3.png" alt="Imagem 3">
  </slide>
</carousel>

<carousel class="hidden-sm hidden-md hidden-lg">
  <slide>
    <img src="assets/images/m1.png" alt="Imagem 1">
  </slide>
  <slide>
    <img src="assets/images/m2.png" alt="Imagem 2">
  </slide>
  <slide>
    <img src="assets/images/m3.png" alt="Imagem 3">
  </slide>
</carousel>