<div class="container" *ngIf="(totalCartItems$) > 0 else emptyCart">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="titulo">Meu Carrinho</h2>
    </div>
    <p-growl [(value)]="msgs"></p-growl>
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 align-center">
        <div class="btn-group pull-left-sm" role="group">
          <a class="btn btn-continuar-comprando" routerLinkActive="active" [routerLink]="['']" tooltip="Volte a vitrine e escolha mais produtos">Continuar comprando</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 align-center">
        <div class="btn-group pull-right-sm" role="group">
          <!-- <button type="button" class="btn btn-default left">comprar</button> -->
          <a class="btn btn-finalizar-compra" (click)="detalhesCompra()" tooltip="Selecionar a forma de pagamento.">Efetuar Pagamento</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- tablete e desktop -->
      <table class="table table-produtos-carrinho hidden-xs">
        <thead class="table-header">
          <tr>
            <th class="small text-muted">Produto(s)</th>
            <th class="small text-muted">Valor</th>
            <th class="small text-muted">Quantidade</th>
            <th class="small text-muted">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtosNoCarrinho, let i = index">
            <td class="small">
              <div class="miniatura">
                <a><img [src]="p.product_img_relative_url" alt=""></a>
              </div>
              <a class="descricao-produto">
                <h3 style="cursor: pointer" (click)="details(p.product_id)" >{{p.product_name}}</h3>
                <p><!-- Tamanho: M --></p>
              <p><!-- Cor: vermelho --></p>
              </a>
            </td>
            <td class="small">{{ p.product_purchase_price | currency:'BRL':true }}</td>
            <td class="small">{{ p.quantidade }}</td>
            <td class="small">{{ p.product_purchase_price * p.quantidade | currency:'BRL':true }}</td>
            <td><button class="btn" (click)="removerDoCart(p.product_id)"><i class="ion-close-round"></i></button></td>
          </tr>
        </tbody>
      </table>
      <!-- tablete e desktop -->

      <!-- mobile -->
      <div class="row container-produto-mobile visible-xs" *ngFor="let pm of produtosNoCarrinho, let i = index">
        <div class="col-xs-5">
          <div class="imagem-produto">
            <a ><img [src]="pm.product_img_relative_url" alt=""></a>
            <a (click)="removerDoCart(pm.product_id)">Excluir</a>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="descricao-produto">
            <a class="descricao-produto">
              <h3 style="cursor: pointer" (click)="details(pm.product_id)" >{{pm.product_name}}</h3>
              <p><!-- Tamanho: M --></p>
              <p><!-- Cor: vermelho --></p>
            </a>
            <p>{{pm.product_purchase_price | currency:'BRL':true }}</p>
            <td class="small">{{ pm.quantidade }}</td>

          </div>
          <!-- <div class="quantidade-produto">
            <div class="box-input-quantidade">
              <input type="text" id="quantidade" [(ngModel)]="pm.quantidade">
            </div>
          </div> -->
          <div class="valor-total-produto">
            <p>{{pm.product_purchase_price * pm.quantidade | currency:'BRL':true }}</p>
          </div>
        </div>
      </div>
      <!-- mobile -->
      <div class="row">
        <div class="col-sm-12">
          <div class="col-xs-12 col-sm-6">
            <app-search-cep></app-search-cep>
          </div>
          <div class="col-xs-12 col-sm-6">
            <app-cart-summary></app-cart-summary>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 align-center">
          <div class="btn-group pull-left-sm" role="group">
            <a href="" class="btn btn-continuar-comprando" routerLinkActive="active" [routerLink]="['']" tooltip="Volte a vitrine e escolha mais produtos">Continuar comprando</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 align-center">
          <div class="btn-group pull-right-sm" role="group">
            <!-- <button type="button" class="btn btn-default left">comprar</button> -->
            <a class="btn btn-finalizar-compra" (click)="detalhesCompra()" tooltip="Selecionar a forma de pagamento.">Efetuar Pagamento</a>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
<div class="container">
  <ng-template #emptyCart>
    <app-empty-cart></app-empty-cart>
  </ng-template>
</div>
