<div class="container" *ngIf="(totalCartItems$) > 0 else emptyCart">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="titulo">Meu Carrinho</h2>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 align-center">
        <div class="btn-group pull-left-sm" role="group">
          <a class="btn btn-continuar-comprando" routerLinkActive="active" [routerLink]="['']">Continuar comprando</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 align-center">
        <div class="btn-group pull-right-sm" role="group">
          <!-- <button type="button" class="btn btn-default left">comprar</button> -->
          <a class="btn btn-finalizar-compra" (click)="detalhesCompra()">Finalizar compra</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <!-- tablete e desktop -->
      <table class="table table-produtos-carrinho hidden-xs">
        <thead class="table-header">
          <tr>
            <th class="small text-muted">Produto(s)</th>
            <th class="small text-muted">Valor</th>
            <th class="small text-muted">Quantidade</th>
            <th class="small text-muted">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of produtosNoCarrinho, let i = index">
            <td class="small" >
              <div class="miniatura">
                <a><img [src]="p.imagem" alt=""></a>
              </div>
              <a class="descricao-produto">
                <h3>{{p.nome}}</h3>
                <p>Tamanho: M</p>
                <p>Cor: vermelho</p>
              </a>
            </td>
            <td class="small">{{p.valorAtual | currency:'BRL':true }}</td>
            <td class="small">1</td>
            <td class="small">{{p.valorAtual | currency:'BRL':true }}</td>
            <td><button class="btn"><i class="ion-close-round"></i></button></td>
          </tr>
        </tbody>
      </table>
      <!-- tablete e desktop -->

      <!-- mobile -->
      <div class="row container-produto-mobile visible-xs" *ngFor="let pm of produtosNoCarrinho, let i = index">
        <div class="col-xs-5">
          <div class="imagem-produto"  >
            <a href="#!"><img [src]="pm.imagem" alt=""></a>
            <a href="#!">Excluir</a>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="descricao-produto">
            <a href="#!" class="descricao-produto">
              <h3>{{pm.nome}}</h3>
              <p>Tamanho: M</p>
              <p>Cor: vermelho</p>
            </a>
            <p>{{pm.valorAtual | currency:'BRL':true }}</p>
          </div>
          <div class="quantidade-produto">
            <div class="box-input-quantidade">
              <input type="text" id="quantidade" value="2">
            </div>
          </div>
          <div class="valor-total-produto">
            <p>{{pm.valorAtual | currency:'BRL':true }}</p>
          </div>
        </div>
      </div>
      <!-- mobile -->

      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-6 align-center">
          <div class="btn-group pull-left-sm" role="group">
            <a href="" class="btn btn-continuar-comprando" routerLinkActive="active" [routerLink]="['']">Continuar comprando</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 align-center">
          <div class="btn-group pull-right-sm" role="group">
            <!-- <button type="button" class="btn btn-default left">comprar</button> -->
            <a class="btn btn-finalizar-compra" (click)="detalhesCompra()">Finalizar compra</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-xs-12 col-sm-6">
        <app-search-cep></app-search-cep>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-cart-summary></app-cart-summary>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <ng-template #emptyCart>
    <app-empty-cart></app-empty-cart>
  </ng-template>
</div>
