/*RESET*/
html,
body, 
div, 
span, 
applet, 
object, 
iframe,
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre,
a, 
address, 
cite, 
code,
img,
small, 
strike, 
strong, 
i, 
center,
ol, 
ul, 
li,
fieldset, 
form, 
label, 
legend,
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td,
article, 
aside, 
canvas,
figure,
details,
figcaption,
blockquote, 
q,
footer, 
header, 
hgroup, 
menu, 
nav, 
output,
section{
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* Restauração da função de exibição HTML5 para navegadores mais antigos */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}
body {
	line-height: 1;
}
ol, 
ul {
	list-style: none;
}
blockquote,
q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
a,
i,
p{
    color: #000;
}
a:link{
    text-decoration: none;
    cursor: pointer;
}

/* GRID */
/*linha*/
.linha{
    width: 100%;
    display: inline-block;
}
.linha::after{
    content: '';
    clear: both;
}

/*coluna*/
.col-1{width: 8.333333333%}
.col-2{width: 16.666666667%}
.col-3{width: 25%}
.col-4{width: 33.333333333%}
.col-5{width: 41.666666667%}
.col-6{width: 50%}
.col-7{width: 58.333333333%}
.col-8{width: 66.666666667%}
.col-9{width: 75%}
.col-10{width: 83.333333333%}
.col-11{width: 91.666666666%}
.col-12{width: 100%}

/*todas as classes que iniciam com 'col-'*/
[class*="col-"]{
    padding: 10px;
    float: left;
}

@media (min-width: 992px){
    .container {
        width: 95%;
    }
}