/*RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
cite,
code,
img,
small,
strike,
strong,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figure,
details,
figcaption,
blockquote,
q,
footer,
header,
hgroup,
menu,
nav,
output,
section{
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
	/* vertical-align: baseline; */
}
/* Restauração da função de exibição HTML5 para navegadores mais antigos */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
i,
p{
    color: #000;
}
a:link{
    text-decoration: none;
    cursor: pointer;

}

/* GRID */
/*linha*/
.linha{
    width: 100%;
    display: inline-block;
}
.linha::after{
    content: '';
    clear: both;
}

/*coluna*/
.col-1{width: 8.333333333%}
.col-2{width: 16.666666667%}
.col-3{width: 25%}
.col-4{width: 33.333333333%}
.col-5{width: 41.666666667%}
.col-6{width: 50%}
.col-7{width: 58.333333333%}
.col-8{width: 66.666666667%}
.col-9{width: 75%}
.col-10{width: 83.333333333%}
.col-11{width: 91.666666666%}
.col-12{width: 100%}

/*todas as classes que iniciam com 'col-'*/
[class*="col-"]{
    padding: 10px;
    float: left;
}

@import "scss/helpers";
@import "scss/card";

.nowrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

img{
    width: 100%;
}

/* titulo */
h2.titulo{
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif !important;
    letter-spacing: 1px;
    color: #5d5d5d;
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
    &:after{
        content: '';
        width: 100%;
        height: 1px;
        background: #ccc;
        margin: 15px auto;
        display: block;
    }
}

.header-card{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 0 20px;
    h3{
        color: #355474;
    }
}
.card{
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

/* footer */
h3.titulo{
    font-size: .85rem;
    text-transform: uppercase;
    color: #878787;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

.my-container{
    .row{
        margin: 0 auto;
    }
}

@media (min-width: 992px){
    .container {
        width: 95%;
    }
}

/* para o produto não ficar tão grande na tela */
@media (max-width: 668px) {
    h2.titulo{
        font-size: 1rem;
    }
}
