<div class="container">
  <div class="header-card">
    <h3>Detalhes da Compra</h3>
  </div>
  <div class="detalhes-compra card">
    <div class="detalhes-produtos pull-left">
      <div class="produtos">
        <p>Produtos</p>
        <p>
          <span (click)="openModal(template)">{{precoTotal.length}} Produtos</span>
        </p>

        <template class="modal-dialog" #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Detalhes da sacola</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <app-cart></app-cart> -->
            <div class="row">
              <div class="col-sm-12">
                <!-- tablete e desktop -->
                <table class="table table-produtos-carrinho hidden-xs">
                  <thead class="table-header">
                    <tr>
                      <th class="small text-muted">Produto(s)</th>
                      <th class="small text-muted">Valor</th>
                      <th class="small text-muted">Quantidade</th>
                      <th class="small text-muted">Total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of produtosNoCarrinho, let i = index">
                      <td class="small">
                        <div class="miniatura">
                          <a><img [src]="p.imagem" alt=""></a>
                        </div>
                        <a class="descricao-produto">
                          <h3>{{p.nome}}</h3>
                          <p>Tamanho: M</p>
                          <p>Cor: vermelho</p>
                        </a>
                      </td>
                      <td class="small">{{p.valorAtual | currency:'BRL':true }}</td>
                      <td class="small">1</td>
                      <td class="small">{{p.valorAtual | currency:'BRL':true }}</td>

                    </tr>
                  </tbody>
                </table>
                <!-- tablete e desktop -->

                <!-- mobile -->
                <div class="row container-produto-mobile visible-xs" *ngFor="let pm of produtosNoCarrinho, let i = index">
                  <div class="col-xs-5">
                    <div class="imagem-produto">
                      <a href="#!"><img [src]="pm.imagem" alt=""></a>

                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="descricao-produto">
                      <a href="#!" class="descricao-produto">
                        <h3>{{pm.nome}}</h3>
                        <p>Tamanho: M</p>
                        <p>Cor: vermelho</p>
                      </a>
                      <p>{{pm.valorAtual | currency:'BRL':true }}</p>
                    </div>
                    <div class="quantidade-produto">
                      <div class="box-input-quantidade">
                        <input type="text" id="quantidade" value="2">
                      </div>
                    </div>
                    <div class="valor-total-produto">
                      <p>{{pm.valorAtual | currency:'BRL':true }}</p>
                    </div>
                  </div>
                </div>
                <!-- mobile -->
              </div>
            </div>
          </div>
        </template>

        <p>{{valorTotal | currency:'BRL':true }}</p>
        <p>Frete - Retira na loja</p>
        <p>R$ 0,00</p>
      </div>
      <div class="total">
        <p>Total à pagar</p>
        <p>{{valorTotal | currency:'BRL':true }}</p>
      </div>
    </div>
    <div class="detalhes-endereco">
      <p>Endereço de entrega</p>
      <p>Everton Roberto de Oliveira</p>
      <p>Rua Hélio Jacy Gouveia Schiefler, 42, Casa 4</p>
      <p>Jardim Souza</p>
      <p>São Paulo - SP</p>
      <p>CEP 04918-110</p>
    </div>
  </div>
  <div class="header-card">
    <h3>Opções de entrega</h3>
  </div>
  <div class="card box-forma-entrega">
    <a type="button" class="entrega" (click)="selecionaEntrega($event)">
      <input type="radio" id="tzne" name="entrega" checked>
      <p>Entrega TZNE</p>
      <p>Em até 7 dias</p>
      <p>R$ 27,00</p>
    </a>
    <a type="button" class="entrega" (click)="selecionaEntrega($event)">
      <input type="radio" id="loja" name="entrega">
      <p>Retira na Loja</p>
      <p>Em até 2 dias</p>
      <p>R$ 0,00</p>
    </a>
  </div>

  <div class="header-card">
    <h3>Forma de Pagamento</h3>
  </div>
  <div class="card">
    <form>
      <div class="form-group">
        <label for="">Número do cartão</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label for="">Nome Impresso no cartão</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label for="">validade</label>
        <select name="mes" id="mes">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
          <option value="">05</option>
          <option value="">06</option>
          <option value="">07</option>
          <option value="">08</option>
          <option value="">09</option>
          <option value="">10</option>
          <option value="">11</option>
          <option value="">12</option>
        </select>
        <select name="ano" id="ano">
          <option value="">2017</option>
          <option value="">2018</option>
          <option value="">2019</option>
          <option value="">2020</option>
          <option value="">2021</option>
          <option value="">2022</option>
          <option value="">2023</option>
          <option value="">2024</option>
          <option value="">2025</option>
          <option value="">2026</option>
          <option value="">2027</option>
          <option value="">2028</option>
          <option value="">2029</option>
          <option value="">2030</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Código de Segurança</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label for="">Parcelas</label>
        <select name="parcelas" id="parcelas">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
          <option value="">05</option>
          <option value="">06</option>
        </select>
      </div>
      <div class="form-group">
        <span for="" class="valor-total">Total <span>{{valorTotal | currency:'BRL':true }}</span></span>
        <button class="efetuar-pagamento" type="button">Efetuar pagamento</button>
      </div>
    </form>
  </div>
</div>
