<div class="container">
  <div class="header-card">
    <h3>Detalhes da Compra</h3>
  </div>
  <div class="detalhes-compra card">
    <div class="detalhes-produtos pull-left">
      <div class="produtos">
        <p>Produtos</p>
        <p>
          <span (click)="openModal(template)">{{precoTotal.length}} Produtos</span>
        </p>

        <template class="modal-dialog" #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Detalhes da sacola</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <app-cart></app-cart> -->
            <div class="row">
              <div class="col-sm-12">
                <!-- tablete e desktop -->
                <table class="table table-produtos-carrinho hidden-xs">
                  <thead class="table-header">
                    <tr>
                      <th class="small text-muted">Produto(s)</th>
                      <th class="small text-muted">Valor</th>
                      <th class="small text-muted">Quantidade</th>
                      <th class="small text-muted">Total</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let p of produtosNoCarrinho, let i = index">
                      <td class="small">
                        <div class="miniatura">
                          <a><img [src]="p.imagem" alt=""></a>
                        </div>
                        <a class="descricao-produto">
                          <h3>{{p.nome}}</h3>
                          <p>Tamanho: M</p>
                          <p>Cor: vermelho</p>
                        </a>
                      </td>
                      <td class="small">{{ p.valorAntigo | currency:'BRL':true }}</td>
                      <td class="small">{{ p.quantidade }}</td>
                      <td class="small">{{ p.valorAtual | currency:'BRL':true }}</td>

                    </tr>
                  </tbody>
                </table>
                <!-- tablete e desktop -->

                <!-- mobile -->
                <div class="row container-produto-mobile visible-xs" *ngFor="let pm of produtosNoCarrinho, let i = index">
                  <div class="col-xs-5">
                    <div class="imagem-produto">
                      <a href="#!"><img [src]="pm.imagem" alt=""></a>

                    </div>
                  </div>
                  <div class="col-xs-7">
                    <div class="descricao-produto">
                      <a href="#!" class="descricao-produto">
                        <h3>{{pm.nome}}</h3>
                        <p>Tamanho: M</p>
                        <p>Cor: vermelho</p>
                      </a>
                      <p>{{pm.valorAtual | currency:'BRL':true }}</p>
                    </div>
                    <div class="quantidade-produto">
                      <div class="box-input-quantidade">
                        <input type="text" id="quantidade" value="pm.quantidade">
                      </div>
                    </div>
                    <div class="valor-total-produto">
                      <p>{{pm.valorAtual | currency:'BRL':true }}</p>
                    </div>
                  </div>
                </div>
                <!-- mobile -->
              </div>
            </div>
          </div>
        </template>

        <p>{{valorTotal | currency:'BRL':true }}</p>
        <p>Frete</p>
        <p>R$ {{ frete }}</p>
      </div>
      <div class="total">
        <p>Total à pagar</p>
        <p>{{ valortotalCompra | currency:'BRL':true }}</p>
      </div>
    </div>
    <div class="detalhes-endereco">
      <p>Endereço de entrega</p>
      <p>Everton Roberto de Oliveira</p>
      <p>Rua Hélio Jacy Gouveia Schiefler, 42, Casa 4</p>
      <p>Jardim Souza</p>
      <p>São Paulo - SP</p>
      <p>CEP 04918-110</p>
    </div>
  </div>
  <div class="header-card">
    <h3>Opções de entrega</h3>
  </div>
  <div class="card box-forma-entrega">
    <a type="button" class="entrega" (click)="selecionaEntrega($event)">
      <input type="radio" id="tzne" name="entrega" checked>
      <p>Entrega TZNE</p>
      <p>Em até 7 dias</p>
      <p>{{ frete }}</p>
    </a>
   <!--  <a type="button" class="entrega" (click)="selecionaEntrega($event)">
      <input type="radio" id="loja" name="entrega">
      <p>Retira na Loja</p>
      <p>Em até 2 dias</p>
      <p>R$ 0,00</p>
    </a> -->
  </div>

  <div class="header-card">
    <h3>Forma de Pagamento</h3>
  </div>
  <div class="card">
    <form>
      <div class="form-group">
        <label for="">Número do cartão *</label>
        <input type="text" id="numCartao" name="numCartao" [(ngModel)]="dadosCartao.numeroCartao.value">
        <div class="validation-label" [hidden]="!dadosCartao.numeroCartao.error">Campo obrigatório.</div>
      </div>
      <div class="form-group">
        <label for="">Nome Impresso no cartão *</label>
        <input type="text" id="numImpCartao" name="numImpCartao" [(ngModel)]="dadosCartao.numeroimpressoCartao.value">
        <div class="validation-label" [hidden]="!dadosCartao.numeroimpressoCartao.error">Campo obrigatório.</div>
      </div>
      <div class="form-group">
        <label for="">validade *</label>
        <select name="mes" id="mes" [(ngModel)]="dadosCartao.validade.mes">
           <option disabled="true">Mês</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
        <select name="ano" id="ano" [(ngModel)]="dadosCartao.validade.ano">
          <option disabled="true">Ano</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
        </select>
         <div class="validation-label" [hidden]="!dadosCartao.validade.error">Campo obrigatório.</div>
      </div>
      <div class="form-group">
        <label for="">Código de Segurança *</label>
        <input type="text" id="codigoSeguranca" name="codigoSeguranca" [(ngModel)]="dadosCartao.codigoSeguranca.value">
        <div class="validation-label" [hidden]="!dadosCartao.codigoSeguranca.error">Campo obrigatório.</div>
      </div>
      <div class="form-group">
        <label for="">Parcelas *</label>
        <select name="parcelas" id="parcelas" [(ngModel)]="dadosCartao.parcelas.value" >
          <option disabled="true">Selecione</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
        </select>
        <div class="validation-label" [hidden]="!dadosCartao.parcelas.error">Campo obrigatório.</div>
      </div>
      <div class="form-group">
        <span for="" class="valor-total">Total <span>{{valortotalCompra | currency:'BRL':true }}</span></span>
        <button class="efetuar-pagamento" type="button" (click)="finalizarPagamento()">Finalizar compra</button>
      </div>
    </form>
  </div>
</div>
