<div class="col-xs-12">
    <div class="form-group">
        <label for="">E-mail</label>
        <input type="text" class="form-control" disabled value="everton_roliveira@outlook.com">
    </div>
    <div class="form-group">
        <label for="">Nova senha *</label>
        <input type="password" class="form-control" placeholder="********">
    </div>
    <div class="form-group">
        <label for="">Repita a senha *</label>
        <input type="password" class="form-control" placeholder="********">
    </div>
    <div class="container-salvar">
        <a type="button" class="btn-salvar">Salvar</a>
    </div>
</div>