<div class="row">
  <div class="container-newsletter-redes">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <h3 class="titulo">Fique por dentro das novidades</h3>
      <form action="post">
        <div class="box-linha">
          <div class="input-group">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <input type="text" placeholder="E-mail">
          </div>
        </div>
        <div class="box-linha">
            <div class="input-group">
                <button>Receber ofertas</button>
            </div>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-5">
      <div class="redes-sociais">
        <h3 class="titulo">Siga a TZNE</h3>
        <ul>
          <li>
            <a href="!#" class="facebook"><span>tzneoficial</span></a>
          </li>
          <li>
            <a href="!#" class="instagram"><span>@tzne02</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
