<ul>
    <li class="pedido">
        <table>
            <thead>
                <tr>
                    <th>Número do Pedido</th>
                    <th>Realizado em</th>
                    <th>Status</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15456</td>
                    <td>09/10/2017</td>
                    <td>Pedido Entregue</td>
                    <td>R$ 55,00</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="#!" class="detalhes">Ver Detalhes</a>
        </div>
    </li>
    <li class="pedido">
        <table>
            <thead>
                <tr>
                    <th>Número do Pedido</th>
                    <th>Realizado em</th>
                    <th>Status</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15456</td>
                    <td>09/10/2017</td>
                    <td>Pedido Entregue</td>
                    <td>R$ 55,00</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="#!" class="detalhes">Ver Detalhes</a>
        </div>
    </li>
</ul>
<div class="container-ver-todos">
    <a href="#!" type="button" class="ver-todos">Ver Todos os pedidos</a>
</div>