.container-ver-todos{text-align: center;
    .ver-todos{
        display: inline-block;
        font-size: .8rem;
        background: #5d5d5d;
        line-height: 1.125rem;
        color: #fff;
        letter-spacing: 1.3px;
        transition: all .3s linear;
        border-radius: 1px;
        padding: 6px 10px;
        text-transform: uppercase;
        &:hover{
            background: #d1d147;
            color: #355474;
            transition-duration: .3s;
        }
    }
}