<header class="row">
  <div class=" col-xs-1 hidden-sm hidden-md hidden-lg">
      <!-- toggle -->
      <div id="menu_toggle">
          <button></button>
      </div>
  </div>
  <div class="col-xs-7 col-sm-3 col-md-3 box-logo">
      <h1 class="logo"><a href="index.html">TZNE</a></h1>
  </div>
  <div class="col-sm-5 col-md-5 box-pesquisa hidden-xs">
      <div class="input-pesquisa">
          <input type="text" name="pesquisa" value="" placeholder="Pesquisar...">
          <i class="fa fa-search" aria-hidden="true"></i>
      </div>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-4 conta-carrinho pull-right">
      <i class="fa fa-user-circle-o fa-2x hidden-md hidden-lg" aria-hidden="true"></i>
      <h2 class="hidden-xs hidden-sm"><a href="#">Entre</a> ou <a href="#">cadastre-se</a></h2>
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
  </div>
</header>