<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem de Ferro</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <span id="valor_atual">R$ 75,00</span>
              </a>
            </div>
          </footer>
        </article>
      </article>
    </div>
  </div>
</div>
