<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="titulo-produto">Produtos em destaque</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/1.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto" class="nowrap">Camiseta Homem-Aranha mnga longa</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 69,90</span>
                    <span class="valor-atual">R$ 59,41</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,70</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/2.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto" class="nowrap">Camiseta Capitão América</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-atual">R$ 69,90</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 34,95</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/3.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto" class="nowrap">Camiseta Batman manga longa</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 100,00</span>
                    <span class="valor-atual">R$ 89,00</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 44,50,00</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/4.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto" class="nowrap">Camiseta Super-Homem</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 65,00</span>
                    <span class="valor-atual">R$ 56,52</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 28,26</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
  </div>
</div>