<div class="container">
  <div class="row">
<!-- <<<<<<< HEAD
    <div class="col-xs-6 col-sm-4 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem de Ferro</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <span id="valor_atual">R$ 75,00</span>
              </a>
            </div>
======= -->
    <div class="col-xs-12">
      <h2 class="titulo-produto">Produtos em destaque</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/1.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem-Aranha</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 67,65</span>
                    <span class="valor-atual">R$ 58,00</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,00</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/1.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem-Aranha</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 67,65</span>
                    <span class="valor-atual">R$ 58,00</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,00</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/1.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem-Aranha</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 67,65</span>
                    <span class="valor-atual">R$ 58,00</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,00</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <article class="box-produto">
        <article class="produto">
          <header>
            <img src="../../../assets/images/produtos/1.jpg" alt="" id="imagem_produto">
          </header>
          <footer>
            <div class="nome-produto">
              <a href="" id="nome_produto">Camiseta Homem-Aranha</a>
            </div>
            <div class="valor-produto">
              <a href="">
                <div class="valor">
                    <span class="valor-antigo">R$ 67,65</span>
                    <span class="valor-atual">R$ 58,00</span>
                </div>
                <div class="parcelas">
                    <span class="valor-parcelas"><strong>2x</strong> de <strong>R$ 29,00</strong> sem juros</span>
                </div>
              </a>
            </div>
            <div class="box-btn">
              <a href="" class="btn btn-adicionar-sacola">Adicionar a sacola</a>
          </div>
          </footer>
        </article>
      </article>
    </div>
  </div>
</div>
