
@keyframes slidein {
    from {
      bottom: 60px;
      background: (255, 255, 255, 0);
      z-index: -1;
    }
  
    to {
      bottom: 96px;
      background: (255, 255, 255, 0.8);
      z-index: 1;
    }
  }

  @-webkit-keyframes slidein {
    from {
        bottom: 50px;
        background: (255, 255, 255, 0);
      }
    
      to {
        bottom: 96px;
        background: (255, 255, 255, 0.8);
        z-index: 1;
      }
  }


h2.titulo-produto{
    text-transform: uppercase;
    font-family: "PT Sans",sans-serif !important;
    letter-spacing: 1px;
    color: #5d5d5d;
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    &:after{
        content: '';
        width: 100%;
        height: 1px;
        background: #ccc;
        margin: 15px auto;
        display: block;
    }
}
.box-produto{
    margin-bottom: 30px;
    .produto{
        position: relative;
        header{
            border: 1px solid #ccc;
            img{
                width: 100%;
                cursor: pointer;
            }
            &:hover{
                border-color: #355474;
                transition-delay: 0.1s;
                transition-duration: 0.3s;
            }
        }

        footer{
            .nome-produto{
                padding: 20px 10px;
                text-align: center;
                a{
                    font-size: .875rem;
                    text-transform: uppercase;
                    font-family: "PT Sans",sans-serif !important;
                    letter-spacing: 1px;
                    color: #5d5d5d;
                    &:after{
                        content: '';
                        width: 70px;
                        height: 1px;
                        background: #a2a2a2;
                        margin: 15px auto 0 auto;
                        display: block;
                    }
                }
            }
            .valor-produto{
                a{
                    text-align: center;
                    .valor{
                        span.valor-antigo{
                            font-size: .8125rem;
                            line-height: 1.2rem;
                            text-decoration: line-through;
                            color: #a2a2a2;
                            font-weight: 400;
                        }
                        span.valor-atual{
                            font-size: .95rem;
                            line-height: 20px;
                            line-height: 1.25rem;
                            color: #901913;
                            font-weight: 700;
                        }
                    }
                    .parcelas{
                        line-height: 1.25rem;
                        color: #5d5d5d;
                        font-size: .8125rem;
                    }
                }
            }
            .box-btn{
                padding: 10px 15px;
                .btn-adicionar-sacola{
                    background: #d1d147;
                    width: 100%;
                    line-height: 1.125rem;
                    color: #fff;
                    letter-spacing: 1.3px;
                    transition: all .3s linear;
                    border-radius: 1px;
                    padding: 8px 5px;
                    text-transform: uppercase;
                    margin-top: 10px;
                    &:hover{
                        background: #5d5d5d;
                    }
                }

            }
        }
    }
}

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {
    .box-produto{
        .produto{
            padding: 0 125px;
            footer{
                .valor-produto{
                    margin-bottom: 5px;
                    .valor{
                        margin-bottom: 5px;
                        .valor-atual{
                            font-size: 1.2rem;
                        }
                    }
                    .parcelas{
                        .valor-parcelas{
                            font-size: 0.86rem
                        }
                    }
    
                }
            }
        }
    }
}

/* para o produto não ficar tão grande na tela */
@media (max-width: 668px) {
    .box-produto{
        .produto{
            padding: 0 95px;
        }
    }
}

/* para o produto não ficar tão grande na tela */
@media (max-width: 568px) {
    .box-produto{
        .produto{
            padding: 0 50px;
        }
    }
}

/* para o produto não ficar tão grande na tela */
@media (max-width: 490px) {
    .box-produto{
        .produto{
            padding: 0;
        }
    }
}